*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

:root{
    --header-size: 50px;
}

body{

    overflow: hidden;

    header{
        background: gray;
        width: 100vw;
        height: var(--header-size);
        border-bottom: 2px solid black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;


        .loadButton{
            border: 1px solid black;
            min-width: 100px;
            padding: 0px 10px;
            border-radius: 5px;
            background: lightgray;
            text-wrap: nowrap;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:active{
                background: gray;
            }
        }
    }

    main{
        background: none;
        width: 100vw;
        height: calc(100vh - var(--header-size));
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        #result{
            border-left: 2px solid black;
            width: 100vw;
            height: 100%;
            background: none;

            display: flex;
            flex-direction: column;

            #Frametitle{
                width: 100%;
                height: 20px;
                background: lightgray;
                border-bottom: 1px solid black  ;
            }

            iframe{
                width: 50vw;
                height: 100%;
            }
        }

        .editor{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;

            #line{
                background: lightgray;
                width: 30px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                overflow: hidden;
                text-align: right;
            }

            #text-writer{
                background: white;
                width: 100%;
                height: 100%;
                resize: none;
                text-wrap: nowrap;

                &:focus{
                    border: none;
                    outline: none;
                }
            }
        }
    }
}